* {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

@import url('https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial');

@font-face {
    font-family: 'gg sans Bold';
    font-style: normal;
    font-weight: 800;
    src: local('gg sans Bold'), url('Fonts/ggsans/gg\ sans\ Bold.woff') format('woff');
}

@font-face {
    font-family: 'gg sans Normal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('gg sans Normal Regular'), url('Fonts/ggsans/gg\ sans\ Regular.woff') format('woff');
}

@font-face {
    font-family: 'gg sans Medium Regular';
    font-style: normal;
    font-weight: normal;
    src: local('gg sans Medium Regular'), url('Fonts/ggsans/gg\ sans\ Medium.woff') format('woff');
}

@font-face {
    font-family: 'gg sans SemiBold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('gg sans SemiBold Regular'), url('Fonts/ggsans/gg\ sans\ Semibold.woff') format('woff');
}

ul {
    list-style: none;
}

body {
    font-family: "gg sans, sans serif";
    min-width: 320px;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
}

img {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main {
    height: 100%;
    background-color: #404eed;
    background-image: url(Assets/herobg.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.left {
    width: 50vw;
    position: absolute;
    left: -300px;
    bottom: 0;
    z-index: -1;
}

.right {
    width: 45vw;
    position: absolute;
    right: -200px;
    bottom: 0;
    z-index: -1;
}

header {
    height: 80px;
    position: relative;

}

header ul li {
    margin-right: 35px;
    font-size: 16px;
    font-family: 'gg sans SemiBold Regular';
}

header ul li a {
    color: white;
}

.header-button {
    padding: 7px 16px;
    border-radius: 30px;
    background-color: white;
    font-size: 14px;
    font-family: 'gg sans Bold';
}

.button {
    display: flex;
    padding: 16px 32px;
    border-radius: 30px;
    background-color: white;
    font-family: 'gg sans Medium Regular';
    font-size: 20px;
}

.button:hover {
    color: #5865f2;
    transition: 0.3s;
}

.bottom span {
    display: inline-block;
    width: 25px;
}

.blk_btn {
    background-color: rgb(48, 47, 47);
    color: white;
}

.hamburger-button {
    display: none;
    background-color: #33333300;
    color: white;
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 150;
}

.nav-links {
    min-height: 400px;
    height: 100vh;
    width: 0%;
    position: absolute;
    top: 0;
    right: 0;
    display: block !important;
    background-color: #fff;
    color: #23272a;
    z-index: 200;
    transition: width 0.3s ease;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.nav-links.active {
    width: 30% !important;
}

.nav-links a {
    display: block;
    width: 100%;
    padding: 15px;
    color: #23272a;
    text-decoration: none;
    text-align: left;
}

.nav-links a:active {
    text-decoration: underline;
}

.nav-close {
    display: none;
    padding: 15px;
    text-align: right;
}



.spotlight {
    position: relative;
    padding: 100px 0px 130px 0px;
    z-index: 1;
}

.spotlight .top {
    max-width: 780px;
    margin-inline: auto;
    text-align: center;
    margin-bottom: 50px;
}

.spotlight .top h1 {
    color: white;
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 10px;
    font-family: 'ABC Ginto Normal Unlicensed Trial 800', sans-serif;
}

.spotlight .top p {
    color: white;
    font-family: 'gg sans Normal Regular';
    font-size: 20px;
    line-height: 1.5em;
}

.spotlight .bottom {

    justify-content: center;
    gap: 10px;
}


.bg_white,
.bg_grey {
    padding: 130px 100px 120px 20px;
}

.bg_grey,
.grey {
    background-color: #60606118;
}

.grey {
    padding: 130px 0px 90px;

}

.ftr_txt {
    flex-basis: 35%;
    color: #23272a;

}

.ftr_img {
    flex-basis: 50%;
}

#center h1 {
    font-size: 48px;
    font-family: 'gg sans Bold';
    line-height: 1em;
    margin-bottom: 30px;
}

#center p {
    font-size: 20px;
    font-family: 'gg sans Normal Regular';
}

.txt {
    width: 90%;
    margin-inline: auto;
}

.txt h1,
.txt p {
    text-align: center;
    color: #23272a;
}

.img_container {
    position: relative;
    height: 150px;
    width: 80%;
    margin-inline: auto;
    margin-bottom: 15px;
    background-image: url(Assets/starbg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: end;

}

.img_container h3 {
    font-size: 32px;
    color: #23272a;
    font-family: 'gg sans Bold';
}

.btn_container {
    width: fit-content;
    margin-inline: auto;
}

.bg_violet {
    background-color: #5865f2;
    color: white;
}

.bg_violet:hover {
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bg_violet i {
    width: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

.bg_violet span img {
    stroke: #000;
}

footer {
    padding-block: 80px 64px;
}

.footer_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-link {
    display: flex;
    flex-direction: column;
}

.custom-select {
    margin-block: 24px;
}

.custom-select select {
    height: 18px;
    font-size: 14px;
    display: block;
    padding-right: 15px;
    font-size: 16px;
    border: none;
    color: #fff;
    outline: none;
    background-color: #23272a;
}

.custom-select select option {
    background-color: #fff;
    color: #333;
}

.logo {
    margin-top: 24px;

}

footer .div-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer .logo a span {
    display: inline-block;
    width: 25px;
    margin-right: 24px;
}

footer p {
    color: #5865f2;
    font-size: 16px;
    font-family: 'gg sans SemiBold Regular';
    margin-bottom: 20px;
}

footer a {
    width: 180px;
    color: #fff;
    font-size: 16px;
    font-family: 'gg sans Normal Regular';
    margin-top: 8px;
}

footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    padding-top: 32px;
    margin-top: 32px;
    border-top: 1px solid #5865f2;
}

.footer-bottom span {
    width: 125px;
}

.footer-bottom div a {
    font-size: 14px;

}

.footer-bottom div a:hover {
    text-decoration: none;
}

.footer-button {
    padding: 10px 16px;
    border-radius: 30px;
    background-color: #5865f2;
    font-family: 'gg sans SemiBold Regular';
}


@media screen and (max-width: 980px) {

    .left,
    .right {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    .hamburger-button {
        display: block;
    }

    #center .features .bg_white,
    .bg_grey {
        padding-inline: 0px;
    }

    #center .features .flex {
        flex-direction: column;
        text-align: center;
    }

    #center .features .flex h1 {
        font-size: 32px;
        margin-top: 20px;
    }

    .txt {
        width: 100%;
    }

    .txt h1 {
        font-size: 40px !important;
    }

    .footer-link {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 768px) {

    .spotlight .top h1 {
        font-size: 48px;
        margin-bottom: 20px;
    }

    .txt h1 {
        font-size: 36px !important;
    }

}

@media screen and (max-width: 685px) {
    .spotlight .top h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .spotlight .top p {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .bottom {
        flex-direction: column;
    }

    .bottom a {
        width: 320px;
    }

    #center .features .flex h1 {
        font-size: 24px;

    }

    #center .features .flex p {
        font-size: 17px;

    }

    .bg_grey,
    .bg_white {
        padding: 100px 0px 90px;
    }
}


@media screen and (max-width: 576px) {

    .nav-links.active {
        width: 45% !important;
    }

    .spotlight .top h1 {
        font-size: 26px;
        margin-bottom: 20px;

    }

    .spotlight .top p {
        text-align: justify;
    }

    .bottom a {
        font-size: 17px !important;
        width: 280px;

    }

    .ftr_txt h1 {
        margin-block: 20px 20px !important;
    }

    .img_container h3 {
        font-size: 26px;
        text-align: center;
    }

    .img_container a {
        font-size: 17px !important;
    }

    .txt h1 {
        font-size: 26px !important;
    }

    .txt p {
        font-size: 17px !important;
    }

}